body {
    background-color: #1E1E1E;
}

.title {
    border-radius:10px;
    border: solid 3px white;
    width: 40%;
    margin:auto;
    margin-top:150px;
    text-align:center;
    font-family: "Host Grotesk", serif;
    background-color: #8cd2ff;
}

.front {
    display:flex;
    align-items: center;
    justify-content:center;
    min-height:60px;
    border-radius:20px;
    border:solid 5px green;
    width: 30%;
    margin:auto;
    margin-top: 50px;
    font-family: "Host Grotesk", serif;
    background-color: lightgreen;
    overflow:auto;
}

.back {
    display:flex;
    align-items: center;
    justify-content:center;
    min-height:60px;
    border-radius:20px;
    border:solid 5px red;
    width: 30%;
    margin:auto;
    margin-top: 50px;
    font-family: "Host Grotesk", serif;
    background-color: lightcoral;
    overflow:auto;
}

.revealButton {
    text-align:center;
    margin-top: 50px;
}

.hotkeys {
    position:absolute;
    color:white;
    font-family: "Host Grotesk", serif;
    margin-top:13%;
    margin-left:2%;
}

button {
    border-radius:5px;
    font-family: "Host Grotesk", serif;
    font-size: 20px;
    border: solid 3px lightgreen;
    background-color: lightgreen;
    margin-right:20px;
    margin-left: 20px;
}

.traversalButton {
    position: relative;
    top: -125px;
    text-align:center;
}

#prevButton {
    margin-right:20%;
}

#nextButton {
    margin-left:20%;
}

.tracker {
    display:grid;
    place-items: center;
    color:white;
    font-family: "Host Grotesk", serif;
}

button:hover {
    transform: scale(1.1);
}

button:active {
    transform:scale(1.0);
}

.autoRevealCheckboxes {
    position:absolute;
    color:white;
    font-family: "Host Grotesk", serif;
    margin-left:75%;
    margin-top:29%;
}